@index {

<h3>About Us</h3>
<table class="table table.hover">
  <tbody>
		<tr>
			<td>
				<p style="font-size: small">Meet The City is a unique platform providing opportunity to meet the guides and tourists. It is open and free to use.
					<br>Our core objective is to promote sustainable tourism by engaging amateur or semi-professional guides, local authorities and residents. And letting the tourists know about their offerings and engage in the activities as per their own taste and preferences. To maintain the impartiality we introduce the rating system for guides and touring spots which is geared by the users/tourists. Which eventually urges the concern parties to improve services and on the other hand it educates the visitors from the user/tourist perspective.</p>
			</td>
		</tr>		
	</tbody>
	  
</table>

}
