 
 <!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Create a tour</title>

    <link  rel="stylesheet" href="bootstrap/css/bootstrap.css" media="screen" type="text/css" />
	<link  rel="stylesheet" href="bootstrap/css/bootstrap-responsive.css" media="screen" type="text/css" />
	<link  rel="stylesheet" href="bootstrap/css/bootstrap.min.css" media="screen" type="text/css" />
	<link  rel="stylesheet" href="bootstrap/css/bootstrap-responsive.min.css" media="screen" type="text/css" />
	
	<script src="bootstrap/js/bootstrap.js" type="text/javascript"></script>
    <script src="bootstrap/js/bootstrap.min.js" type="text/javascript"></script>

  </head>

  <body>
 
 
 
 
 <form class="well span8" id="createATour" method="post" action="" name="creatateAtour">
        <fieldset>
          <legend>Create a tour</legend>
		  
          <div class="clearfix">
            <label>Start at: </label>
            <div class="input">
              <div class="inline-inputs">
                <input class="small" type="text" value="June 15, 2013" />
                <input class="mini" type="text" value="12:00am" />
                to
                <input class="small" type="text" value="June 17, 2013" />
                <input class="mini" type="text" value="11:59pm" />
                <span class="help-block">

				</span>
              </div>
            </div>
          </div><!-- /clearfix -->
          
		  <div class="clearfix">
            <label for="normalSelect">Country: </label>
            <div class="input">
              <select name="normalSelect" id="normalSelect">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
              </select>
            </div>
          </div><!-- /clearfix -->
          
		  <div class="clearfix">
            <label for="mediumSelect">City: </label>
            <div class="input">
              <select class="medium" name="mediumSelect" id="mediumSelect">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
              </select>
            </div>
          </div><!-- /clearfix -->
          
		  <div class="clearfix">
            <label for="xlInput">Tour title: </label>
            <div class="input">
              <input class="xlarge" id="xlInput" name="xlInput" size="30" type="text" />
            </div>
          </div><!-- /clearfix -->
		  
		  <div class="clearfix">
            <label for="xlInput">Trip cost-Euro: </label>
            <div class="input">
              <input class="xlarge" id="xlInput" name="xlInput" size="30" type="text" />
            </div>
          </div><!-- /clearfix -->
		  
		  <div class="clearfix">
            <label for="fileInput">Upload an image file: </label>
            <div class="input">
              <input class="input-file" id="fileInput" name="fileInput" type="file" />
            </div>
          </div><!-- /clearfix -->
		  
		  <div class="clearfix">
            <label for="textarea">Short Description: </label>
            <div class="input">
              <textarea class="xxlarge" id="textarea2" name="textarea2" rows="3"></textarea>
              <span class="help-block">
                
              </span>
            </div>
          </div><!-- /clearfix -->
		  
		  <div class="clearfix">
            <label for="textarea">List of useful links: </label>
            <div class="input">
              <textarea class="xxlarge" id="textarea2" name="textarea2" rows="3"></textarea>
              <span class="help-block">
                
              </span>
            </div>
          </div><!-- /clearfix -->
		  
		  <div class="clearfix">
            <label for="xlInput">Google Maps Link: </label>
            <div class="input">
              <input class="xlarge" id="xlInput" name="xlInput" size="30" type="text" />
            </div>
          </div><!-- /clearfix -->
		  
        </fieldset>
		
        <fieldset>
          <div class="actions">
            <input type="submit" class="btn primary" value="Submit">
			&nbsp;<button type="reset" class="btn">Cancel</button>
          </div>
        </fieldset>
      </form>
	  
	   </body>
</html>