 @(tourForm: Form[models.form.TourForm], countries: List[String], cities:List[String]) 
 
@import helper._
@import helper.twitterBootstrap._
 
 @index{ @helper.form(routes.Application.createATourSubmit, 'enctype -> "multipart/form-data"){
<script type="text/javascript">
	$(document).ready(
			function() {
				$("#country").change(
						function() {
							$.ajax({
								type : "GET",
								dataType : "json",
								data : {
									country : $("#country").val()
								},
								url : "@routes.Application.changeCountry()",
								success : function(data) {
									$("#city").empty();
									$("#city").append("<option class=\"blank\" value>--- Choose a city ---</option>");
									$.each(data, function() {
										$("#city").append("<option value=\"" + this + "\">" + this + "</option>");
									});
								}
							});
						})
			})
</script>
<fieldset>
	<legend>
		<h2>Create a Tour</h2>
	</legend>
	<div class="clearfix">
				<div class="input">
					<label>Date</label>
					<div>
						<div id="datetimepicker" class="input-append date">
							<input type="text" id="date" name="date"></input>
							<span class="add-on">
								<i data-time-icon="icon-time" data-date-icon="icon-calendar"></i>
							</span>
							<span class="help-inline"></span>
							<span class="help-block"></span>
						</div>					
						<script type="text/javascript" src="http://tarruda.github.com/bootstrap-datetimepicker/assets/js/bootstrap-datetimepicker.min.js">
						</script>
						<script type="text/javascript" src="http://tarruda.github.com/bootstrap-datetimepicker/assets/js/bootstrap-datetimepicker.pt-BR.js">
						</script>
						<script type="text/javascript">
							$('#datetimepicker').datetimepicker({format: 'dd.MM.yyyy', language: 'en-US'});
						</script>
					</div>
				</div>
		  </div>

	@select(
        tourForm("country"),
        options = options(countries),
        '_default -> "--- Choose a country ---",
        '_label -> "Country"
    )

	@select(
        tourForm("city"),
        options = options(cities),
        '_default -> "--- Choose a city ---",
        '_label -> "City"
    )

	@inputText(
		tourForm("name"),
		'_label -> "Name"
	)

	@inputText(
		tourForm("price"),
		'_label -> "Price"
	)
	
	<div class="clearfix">
		<div class="row">
			<div class="span2">
				<label for="imgFile">Upload an image file: </label>
			</div>
			<div class="span4">
				<div class="input">
					<input class="input-file" id="imgFile" name="imgFile" type="file" />
				</div>
			</div>
		</div>
	</div>
	
	@textarea(
		tourForm("description"),
		'_label -> "Description"
	)

</fieldset>
<fieldset>
	<div class="actions">
		<input type="submit" class="btn btn-primary" value="Submit" /> &nbsp;
		<button type="reset" class="btn">Cancel</button>
	</div>
</fieldset>
} }
	
	  
<script type="text/javascript">

	$openBar = $("#navBarCreateTour");
	
	//$("#tours").addClass('active');
	$('ul.nav > li').removeClass('active');
    $openBar.addClass('active');
    $("#bottomCreateTour").addClass('active');
    $('ul.breadcrumb').append('<span class="divider"> > </span><li class="active"><a href="">Create A Tour</a></li>');

</script>
