 
   
 @index{
 	
			
 <form id="createATour" method="post" action="" name="createATour">
        <fieldset>
          <legend><h2>Create a Tour</h2></legend>
		  
          <div class="clearfix">
			<div class="row">
				<div class="span2">
					<label>Start at: </label>
				</div>
				<div class="span4">
					<div id="datetimepicker" class="input-append date">
						<input type="text" id="startDateAndTime"></input>
						<span class="add-on">
							<i data-time-icon="icon-time" data-date-icon="icon-calendar"></i>
						</span>
					</div>					
					<script type="text/javascript" src="http://tarruda.github.com/bootstrap-datetimepicker/assets/js/bootstrap-datetimepicker.min.js">
					</script>
					<script type="text/javascript" src="http://tarruda.github.com/bootstrap-datetimepicker/assets/js/bootstrap-datetimepicker.pt-BR.js">
					</script>
					<script type="text/javascript">
						$('#datetimepicker').datetimepicker({format: 'dd/MM/yyyy hh:mm:ss', language: 'en-US'});
					</script>
				</div>
			</div>
		  </div>
		  		  		  
		  <div class="clearfix">
            <div class="row">
				<div class="span2">
					<label for="country">Country: </label>
				</div>
				<div class="span4">
					<div class="input">
						<select name="country" id="country">
							<option>1</option>
							<option>2</option>
						</select>
					</div>
				</div>
			</div>
		  </div><!-- /clearfix -->
          		  
		  <div class="clearfix">
			<div class="row">
				<div class="span2">
					<label for="city">City: </label>
				</div>	
				<div class="span4">
					<div class="input">
						<select class="medium" name="city" id="city">
							<option>1</option>
							<option>2</option>
						</select>
					</div>
				</div>
			</div>	
			</div><!-- /clearfix -->
          
		  <div class="clearfix">
			<div class="row">
				<div class="span2">
					<label for="tourTitle">Tour title: </label>
				</div>	
				<div class="span4">
					<div class="input">
						<input class="xlarge" id="tourTitle" name="tourTitle" size="30" type="text" />
					</div>
				</div>
			</div>
          </div><!-- /clearfix -->
		  
		  <div class="clearfix">
			<div class="row">
				<div class="span2">
					<label for="tripCost">Trip cost: </label>
				</div>
				<div class="span4">
					<div class="input">
						<input class="xlarge" id="tripCost" name="tripCost" size="30" value="€" type="text" />
					</div>
				</div>
            </div>
          </div><!-- /clearfix -->
		  
		  <div class="clearfix">
			<div class="row">
				<div class="span2">
					<label for="imgFile">Upload an image file: </label>
				</div>
				<div class="span4">
					<div class="input">
						<input class="input-file" id="imgFile" name="imgFile" type="file" />
					</div>
				</div>
			</div>
          </div><!-- /clearfix -->
		  
		  <div class="clearfix">
			<div class="row">
				<div class="span2">
					<label for="shortDescription">Short Description: </label>
				</div>
				<div class="span4">
					<div class="input">
						<textarea class="xxlarge" id="shortDescription" name="shortDescription" rows="5"></textarea>
						<span class="help-block">
						
						</span>
					</div>
				</div>					
            </div>
          </div><!-- /clearfix -->
		  
		  <div class="clearfix">
			<div class="row">
				<div class="span2">
					<label for="listOfUsefulLinks">List of useful links: </label>
				</div>
				<div class="span4">
					<div class="input">
						<textarea class="xxlarge" id="listOfUsefulLinks" name="listOfUsefulLinks" rows="5"></textarea>
						<span class="help-block">
						
						</span>
					</div>
				</div>
            </div>
          </div><!-- /clearfix -->
		  
		  <div class="clearfix">
		  <div class="row">
				<div class="span2">
					<label for="googleMapsLink">Google Maps Link: </label>
				</div>
				<div class="span4">
					<div class="input">
						<input class="xlarge" id="googleMapsLink" name="googleMapsLink" size="30" type="text" />
						<span class="help-block">
							<p style="font-size:12px">
								<a href="http://support.google.com/maps/bin/answer.py?hl=en&answer=72644" target="_blank">(How to embed Google Maps Link?)</a>
							</p>
						</span>
					</div>
				</div>	
            </div>
          </div><!-- /clearfix -->
		  
        </fieldset>
		
        <fieldset>
          <div class="actions">
            <input type="submit" class="btn btn-primary" value="Submit"/>
			&nbsp;<button type="reset" class="btn">Cancel</button>
          </div>
        </fieldset>
      </form>
	
	  }
