@(content: Html)

@main("Meet the City") {

<style>
.container-fluid > .sidebar {
    position: relative;
    top: 0;
    left:auto;
    width: 180px;
}

.left {
    float:left;
}


.right {
    float:right;
}

.container-fluid > .content {
    margin: 0 200px;
}
body {
    padding-top: 100px;
}
</style>

<meta http-equiv="content-type" content="text/html;charset=utf-8" />

<!-- <div class='navbar navbar-fixed-top'> -->

<!-- top navigation bar -->
<div class="navbar">
  <div class="navbar-inner">
	<ul class="nav pull-left">
	
		<li><img src="@routes.Assets.at("images/logo.png")" class="img-rounded"></li>
	</ul>
	<ul class="nav" >
	  <li class="active" id="navBarHome"><a href="@routes.Application.index()">Home</a></li>
	  <li class="divider-vertical"><a href="#">Recent</a></li>
	  <li class="divider-vertical"><a href="#">Guides</a></li>
	  <li class="divider-vertical" id="navBarTours"><a href="@routes.Application.tours()">Tours</a></li>
	  <li class="divider-vertical" id="navBarCreateTour"><a href="@routes.Application.createATour()">Create a Tour</a></li>
	  <li class="divider-vertical"><a href="#">About</a></li>
	  </ul>
	  <ul  class="nav pull-right">
			  @if(UserManagment.isUserSignedIn()) {
				  <li>@Controller.session(UserManagment.SESSION_USERNAME),&nbsp;</li>
			      <li>
			          <button onclick="window.location.href='@routes.UserManagment.signout()'" class="btn btn-primary" type="button" style="float: right; 
				          padding-right: 67px; padding-left: 67px" >Sign Out</button>
				  </li>
			  } else {
			      <li>
                      <button onclick="window.location.href='@routes.UserManagment.signin()'" class="btn btn-primary" type="button" style="float: right; 
				          padding-right: 67px; padding-left: 67px" >Sign In</button>
				 </li>
			  }
	  </ul>
  </div>
</div>
<!-- end of the top navigation bar -->


<ul class="breadcrumb" id="breadcrumb" style="margin-left: 220px; margin-right: 220px">
  <li><a href="@routes.Application.index()">Home</a></li>
<!--   <li><a href="#">Tours</a> <span class="divider">></span></li> -->
<!--   <li class="active">Active Tours</li> -->
</ul>

<div class="container-fluid">
     
<!--      right sidebar -->
     <div class="sidebar right">
     
        <div class="well" style="margin: 0px; padding: 0px">
        	<p style="margin: 2px">Language:
        		<div class="bfh-selectbox">
  					<input type="hidden" name="selectbox1" value="">
  						<a class="bfh-selectbox-toggle" data-toggle="bfh-selectbox" href="#">
    						<span class="bfh-selectbox-option input-medium" data-option="1">English</span>
    							<b class="caret"></b>
  						</a>
					  	<div class="bfh-selectbox-options">
					  		<div role="listbox">
					    		<ul role="option">
					      			<li><a tabindex="-1" href="#" data-option="1">English</a></li>
					      			<li><a tabindex="-1" href="#" data-option="2">Deutsch</a></li>
					      			<li><a tabindex="-1" href="#" data-option="3">Español</a></li>
					      			<li><a tabindex="-1" href="#" data-option="3">Français</a></li>
					    		</ul>
					    	</div>
					  </div>
				</div>
        	 </p>
       	</div>
      
        <div class="well">
            <a href="#">Visiting Isar</a>
            <p>Once Considered ultra Conservative, culture and attitude</p>
            <a href="#">Tour de TUM</a>
            <p>Once Considered ultra Conservative, culture and attitude</p>
            <a href="#">Marienplatz</a>
            <p>Once Considered ultra Conservative, culture and attitude</p>            
        </div>
  		<div class="well" style="margin: 0px; padding: 0px">
  		
        	<img src="@routes.Assets.at("images/glyphicons-halflings.png")" class="img-rounded">
    	</div>
  	</div>
<!--     end of the right sidebar  -->
      
<!--       left sidebar -->
      <div class="sidebar left">
      	<div class="well" style="margin: 0px; padding: 0px">
        	<form class="navbar-search pull-left">
                <input type="text" class="search-query" placeholder="Search" style="width: 148px;">
            </form>
      	</div>
      <div class="well">
          <h5>Countries</h5>

          <ul id="countries">
              @Tour.findActiveTourCountries().map { country =>
                  <li>
                      <a href="#">@country</a>
	                  <ul id=@country>
		                  @Tour.findActiveTourCitiesByCountry(country).map { city =>
		                      <li><a href="#">@city</a></li>
		                  }
	                  </ul>
                  </li>
              }
          </ul>
          <h5>Subscribe</h5>
              <ul id="continents">
                  <li><a href="#">RSS</a></li>
                  <li><a href="#">E-Mail</a></li>
              </ul>
      	</div>
      </div>
<!--       end of the leftsidebar -->

<!-- main content -->
      <div class="content">
          <div class="hero-unit">
              @content
          </div>
    </div>
<!--     end of the main content -->
</div>

<!-- foot navigation bar -->
<div class="navbar" style="margin-left: 210px; margin-right: 210px">
  <div class="navbar-inner">

	<ul class="nav">

	  <li class="active" id="bottomHome"><a href="@routes.Application.index()">Home</a></li>
	  <li class="divider-vertical"><a href="#">Recent</a></li>
	  <li class="divider-vertical"><a href="#">Guides</a></li>
	  <li class="divider-vertical" id="bottomTours"><a href="@routes.Application.tours()">Tours</a></li>
	  <li class="divider-vertical" id="bottomCreateTour"><a href="@routes.Application.createATour()">Create a Tour</a></li>
	  <li class="divider-vertical"><a href="#">About</a></li>
	  </ul>
  </div>
</div>
<!-- end of the foot navigation bar -->

<!-- <ul class="nav nav-tabs" style="float: left; margin-left: 250px"> -->
<!--   <li class="active"><a href="#">Home</a></li> -->
<!--   <li><a href="#">Recent</a></li> -->
<!--   <li><a href="#">Guides</a></li> -->
<!--   <li><a href="#">Tours</a></li> -->
<!--   <li><a href="#">Create a Tour</a></li> -->
<!--   <li><a href="#">Join a Tour</a></li> -->
<!--   <li><a href="#">About</a></li> -->
<!-- </ul> -->
 
<!--  footer   -->
<div id="footer" style="margin-left:270px">
      <div class="container">
        <p class="muted credit">
        	© 2013 Meet the City&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">Privacy Policy</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        	<a href="#">Terms of Service</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        	<a href="#">About</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        	<a href="#">Help</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        	<a href="#">Contact</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        	<a href="#">FAQ</a>
        	
        </p>
      </div>
</div>
<!-- end of the footer -->


      <script type="text/javascript">
      
          $countries = $("#countries");
          $countries.find("ul").hide();
      
          $countries.find("li").click(function(){

              $(this).find("ul").toggle("slow");
          });
          
          $(document).ready(function () {
              $('ul.nav > li').click(function (e) {
                  //e.preventDefault();
                  $openBar= $(this);
                  $('ul.nav > li').removeClass('active');
                  //$(this).addClass('active');                
              });            
          });

          
      </script>
}
