@(form: Form[models.form.SignUp]) @index {

<style type="text/css">
label {
	position: relative;
	line-height: 2;
	margin: 10px 0px
}

select {
	position: absolute;
	margin-left: 20px;
	width: 10em;
	left: 100px
}

.form-signin {
	max-width: 430px;
	padding: 19px 29px 29px;
	margin: 0 auto 20px;
	background-color: #fff;
	border: 1px solid #e5e5e5;
	text-align: right -webkit-border-radius:       5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
	-moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
	box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
	border: 1px solid #e5e5e5;
	text-align: right -webkit-border-radius:      5px;
}

.form-signin .form-signin-heading {
	font-size: 30px;
}

.form-signin .checkbox {
	margin-bottom: 20px;
}

.form-signin input[type="text"],.form-signin input[type="password"] {
	font-size: 16px;
	height: 6px;
	margin-bottom: 15px;
	padding: 7px 9px;
	width: 280px;
}
</style>

<div class="form-signin">
	@helper.form(routes.UserManagment.signupSubmit) {
	<h2 class="form-signin-heading" align="center">Sign Up</h2>

	@if(form.hasErrors()) {
	    <p align="center" class="alert alert-error">@form.errors().values().iterator().next().get(0).message()</p>
	} 
	<label>Username:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span>*</span><input
		name="username" type="text" class="input-block-level"
		style="position: absolute; margin-left: 20px; left: 100px;" /></label> <br />
	<label> First
		Name:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span>*</span><input
		name="firstname" type="text" class="input-block-level"
		style="position: absolute; margin-left: 20px; left: 100px;" />
	</label> <br /> <label>Last
		Name:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span>*</span><input
		name="lastname" type="text" class="input-block-level"
		style="position: absolute; margin-left: 20px; left: 100px;" />
	</label><br /> <label>Country:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span>*</span><select
		name="" placeholder="[Choose Country]" /><br />
		<option value="Value for Item 1" title="Title for Item 1">India</option>
		<option value="Value for Item 2" title="Title for Item 2">Turkey</option>
		<option value="Value for Item 3" title="Title for Item 3">Ukraine</option>
		</select></label><br /> <label>
		Email:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;


		<span>*</span> <input type="text" class="input-block-level"
		name="email" placeholder="example"
		style="position: absolute; margin-left: 20px; left: 100px;">
	</label> <br /> <label>Password:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		<span>*</span><input name="password" type="password"
		class="input-block-level" placeholder="min 8 characters"
		style="position: absolute; margin-left: 20px; left: 100px;">
	</label> <br /> <label>Repeat Password:<span>*</span><input
		name="passwordConfirmation" type="password" class="input-block-level"
		placeholder="min 8 characters"
		style="position: absolute; margin-left: 20px; left: 100px;"></label> <br />
	<p>Type the characters you see in the picture below.</p>
	<img
		src="http://www.actingis.com/wp-content/plugins/si-captcha-for-wordpress/captcha/securimage_show.php?si_form_id=com&amp;prefix=ArM9dhdHXBzBa2X5"
		width="175" height="50" alt="CAPTCHA Image" title="CAPTCHA Image"><br />
	<input type="text" class="input-block-level"><br /> <label
		class="checkbox"> <input type="checkbox" value="remember-me">I
		agree to Meet the City terms of service and I have<br>
		&nbsp;&nbsp;&nbsp;&nbsp; read the <a href=""http://www.w3schools.com/">privacy
			policy.</a>
	</label>

	<button class="btn btn-large btn-primary" type="submit"
		style="float: right;">Sign Up</button>
	}
</div>

}
