@(class_list: List[Tour]) 

@index {



<h3>Tours</h3>
<table class="table table.hover">
	<tbody>
		@for(tourItem <- class_list){
		<tr>
			<td><a href=@routes.Application.viewATour(tourItem.id)>@tourItem.name<br>
			<br><img src="@tourItem.photoName" /></td></a>
			<td>
				<p style="font-size: small">@tourItem.descriptionShort <a href=@routes.Application.viewATour(tourItem.id)>See more</a></p>
			</td>
		</tr>
		}
	</tbody>
</table>


}

<script type="text/javascript">

	$openBar = $("#navBarTours");
		
	$('ul.nav > li').removeClass('active');
    $openBar.addClass('active');
    
    $openBar = $("#bottomTours");
    $openBar.addClass('active');
	  
//     $("#breadcrumb ul").append('<li><a href="/user/messages"><span class="tab">Message Center</span></a></li>');
    $('ul.breadcrumb').append(' <span class="divider"> > </span><li class="active" id="tour"><a href="@routes.Application.tours()">Tours</a></li>').addClass('active');
    
    $openBar = $("#tour");
    $openBar.addClass('active');

</script>